<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Rails Security</title>

		<meta name="description" content="Rails Security">
		<meta name="author" content="Vasyl Lasiak">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/night.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h2>Rails</h2>
					<h3>Security</h3>
				</section>

				<section>
					<h2>The main goals</h2>
					<ul>
						<li class="fragment grow highlight-current-blue">Common Vulnerabilities</li>
						<li class="fragment grow highlight-current-blue">How to awoid them with Rails?</li>
					</ul>
				</section>

				<section>
					<h3>Security depends on the people using the framework!</h3>
					<p align="left">In order to prevent attacks, minimize their impact and remove points of attack, first of all, you have to fully understand the attack methods in order to find the correct countermeasures.</p>
				</section>

				<section>
					<section>
						<h2>Command Injection</h2>
						<p align="left">While the power of these commands is quite useful, extreme care should be taken when using them in a Rails based application. Usually, its just a bad idea.</p>
						<h3>Example 1</h3>
						<pre><code>
def some_action
  path = "#{Rails.root}/public/#{params[:user_path]}"
  `ls #{path}`
end
						</code></pre>
						<h3>Example 2</h3>
						<pre><code>
def some_action
  str = params[:user_input]
  eval(str)
end
						</code></pre>
					</section>
					<section>
						<h3>Why is it dangerous and how to prevent?</h3>
						<h3>Example 1</h3>
						<pre><code>
params[:user_path] => '; echo '' > ./config/database.yml'

solution => Use 'system' instead of ``=> system("ls", path)
						</code></pre>
						<h3>Example 2</h3>
						<pre><code>
params[:user_path] => "`echo '' > ./config/database.yml`"

solution => Validate input with RegExp, length, use params whitelist, etc...
						</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h2>Mass Assignment</h2>
						<p align="left">Although the major issue with Mass Assignment has been fixed by default in base Rails specifically when generating new projects, it still applies to older and upgraded projects so it is important to understand the issue and to ensure that only attributes that are intended to be modifiable are exposed.</p>
						<p>What are the potential problems of the code below?</p>
						<pre><code>
def signup
  @user = User.new(params[:user])
end
						</code></pre>
					</section>
					<section>
						<h2>Solution</h2>
						<p align="left">Use Strong Parameters.</p>
						<pre><code>
def create
  @user = User.create(user_params)
end

def user_params
  params.require(:user).permit(:name, :age, ...)
end
						</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h2>SQL Injection</h2>
						<p align="left">Ruby on Rails is often used with an ORM called ActiveRecord. Many use cases protect for SQL Injection out of the box. However, it is possible to write code that allows for SQL Injection.</p>
						<p>Why it is dangerous?</p>
						<pre><code>
User.where("username = '#{params[:username]}' AND encrypted_password = '#{params[:password]}'")
						</code></pre>
					</section>
					<section>
						<p align="left">What if we inject this into input?</p>
						<pre><code>
Vasyl' OR 1=1)--
						</code></pre>
						<h3>Parameters sanitizing</h3>
						<pre><code>
ActiveRecord =>User.where("username = ? AND encrypted_password = ?", params[:username], params[:password])
or
ActiveRecord =>User.where(username: params[:username], encrypted_password: params[:password])
						</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h2>Cross Site Scripting(XSS)</h2>
						<p align="left">By default, in Rails 3.0 protection against XSS comes as the default behavior.</p>
						<p>Let's look at the code below</p>
						<pre><code>
<%= raw @product.name %>   
<%= @product.name.html_safe %>
<%= content_tag @product.name %>
						</code></pre>
					</section>
					<section>
						<h3>Now try to inject some simple JS code</h3>
						<pre><code>
< script type="text/javascript"> alert("Your hard disk is corrupted."); < /script >
or more private
< script> document.write(document.cookie); < /script >
						</code></pre>
						<h3>Possible solutions</h3>
						<pre><code>
<%= strip_tags("some<<b>script>alert('hello')<</b>/script>") %>
<%= html_escape '< img src=x onerror=prompt(1) >' %>

<%= sanitize '< img src=x onerror=prompt(1) >' %>
<%= sanitize '< img src=x onerror=prompt(1) >', attributes: %w(src onerror) %>
						</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h2>Cross Site Request Forgery(CSRF)</h2>
						<p align="left">Ruby on Rails has specific, built in support for CSRF tokens. Modern versions of Rails protect against CSRF attacks by default by including a token named authenticity_token within HTML responses. This token is also stored within the user’s session cookie - when a request is received by Rails it checks one against the other. If they do not match, an error is raised. To enable it, or ensure that it is enabled, find the base ApplicationController and look for a directive such as the following</p>
						<pre><code>
class ApplicationController < ActionController::Base
  protect_from_forgery
						</code></pre>
						<p align="left">!! Rails does not provide CSRF protection for any HTTP GET request !!</p>
						<a href="http://guides.rubyonrails.org/v3.2.9/security.html#cross-site-request-forgery-csrf">Example</a>
					</section>
					<section>
						<h3>Bad link example</h3>
						<pre><code>
%a{href: "http://www.google.com/", onclick:"
  var f = document.createElement('form');
  var input = document.createElement('input');
  input.type = 'hidden';
  input.name = '_method';
  input.value = 'delete';
  f.appendChild(input);
  f.style.display = 'none';
  this.parentNode.appendChild(f);
  f.method = 'POST';
  f.action = '/products/12';
  f.submit();
  return false;
"}= 'Go to Google'
						</code></pre>
					</section>
				</section>

				<section>
					<h2>Cross Origin Resource Sharing(CORS)</h2>
					<p align="left">Occasionally, a need arises to share resources with another domain. For example, a file-upload function that sends data via an AJAX request to another domain.</p>
					<p align="left">The receiving site should whitelist only those domains allowed to make such requests. Whitelist in Rails</p>
					<pre><code>
gem 'rack-cors', :require => 'rack/cors'

module Sample
  class Application < Rails::Application
    config.middleware.use Rack::Cors do
      allow do
        origins 'someserver.example.com'
        resource %r{/users/\d+.json},
          :headers => ['Origin', 'Accept', 'Content-Type'],
          :methods => [:post, :get]
      end
    end
  end
end
					</code></pre>
				</section>

				<section>
					<h2>Usefull links</h2>
					<div style="text-align: left;">
						<a href="https://www.owasp.org/index.php/Ruby_on_Rails_Cheatsheet" target="_blank">OWASP(Open Web Application Security Project) Cheatsheet</a>
						<br />
						<a href="http://guides.rubyonrails.org/security.html" target="_blank">RoR Security Guide</a>
					</div>
				</section>

				<section>
					<h2>Brakeman</h2>
					<p align="left">Use brakeman, an open source code analysis tool for Rails applications, to identify many potential issues.</p>
				</section>

				<section>
					<h3>Ruby on Rails Code Quality Gems</h3>
					<ul>
						<li><a href="https://github.com/railsbp/rails_best_practices" target="_blank">Rails best practices - Code metric tool</a></li>
						<li><a href="https://github.com/bbatsov/rubocop" target="_blank">Rubocop - Static code analyzer</a></li>
						<li><a href="https://github.com/troessner/reek" target="_blank">Reek - Code smell detector for Ruby</a></li>
					</ul>
				</section>

				<section>
					<img src="img/QA.jpg" width="85%" alt="Q&A" style="border: none" />
					<h6 class="fragment">No questions? No answers!</h6>
					<p>
						<small>Created by Vasyl Lasiak / <a href="https://github.com/vlasiak" target="_blank">@vlasiak</a></small>
					</p>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				slideNumber: true,
				history: false,
				center: true,
				overview: true,
				touch: true,
				loop: false,
				autoSlide: 0,

				transition: 'zoom', // none/fade/slide/convex/concave/zoom
				transitionSpeed: 'fast', // default/fast/slow

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>
	</body>
</html>
